DB_HOST=database host here
DB_PWD=database password here
DB_PORT=database port here
DB_USER=database user here
DB_NAME=database here

DB_TYPE=mysql or postgresql
DATABASE_URL=mysql+pymysql://$DB_USER:$DB_PWD@$DB_HOST:$DB_PORT/$DB_NAME

ACCESS_TOKEN_EXPIRATION=30  # in minutes
SECRET_KEY=your secret key here

PROJECT_NAME=Multi-Tenant SaaS Backend
